body{font-family: sans-serif;}

#testata{
    background-image:url(../html-css-booleaner/img/pattern.png);
    height: 180px;
    background-color: rgb(0, 140, 255);
}

#logo_testata{
    width: 250px;
    margin-top: 85px;
    margin-left: 200px;
}

#titolo h1{
   margin-bottom: 0;
}

#titolo h4{
    margin: 0;
    color: grey;

}

#autore{
    color:aqua;
}

#titolo h6{
    margin: 0;
    color: grey;
}

#info_foto{
    margin-top: 0;
}

#giallo{
    background-color:yellow ;
}

#testa_tabella
{
    background-color: rgb(0, 162, 255);
    color: aliceblue;
}
table{
    border-collapse: collapse;
}

.azzurro{
    background-color: aqua;
    }

#img_footer1{
    height: 150px;
    width: 250px;
    background-image:url(img/monitor.jpg);
    color: white;
    margin: 10px;
    
}
footer h3{
    color: grey;
}

#img_footer2{
    height: 150px;
    width: 250px;
    background-image:url(img/graph.jpg);
    color: white;
    margin: 10px;

}